@charset "utf-8";

.swContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.swBtn {
    position: absolute;
    bottom: 10px;
}

.swTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}